body {
  margin: 0;
  padding: 0;
  /* height: 100%;
  background: url("https://static9.depositphotos.com/1554103/1168/i/600/depositphotos_11688413-stock-photo-yellow-orange-circle-gradient-background.jpg");
  background-size: cover; */
  /* background-color: yellow; */
}

#root {
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* a {
  text-decoration: none;
} */

.flex {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* .navbar {
  width: 400px;
  display: flex;
  justify-content: space-around;
} */

.tour {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  max-width: 330px;
  min-width: 330px;
  background-color: rgb(255, 255, 255, 0.5);
}

#my_container {
  margin: 0px;
  padding: 0px;
}
.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

/* лоадер */
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
/* лоадер */

.mycolumn {
  display: flex;
  flex-direction: column;
}

.myrow {
  display: flex;
  flex-direction: row;
}


