body {
  margin: 0;
  padding: 0;
  /* height: 100%;
  background: url("https://static9.depositphotos.com/1554103/1168/i/600/depositphotos_11688413-stock-photo-yellow-orange-circle-gradient-background.jpg");
  background-size: cover; */
  /* background-color: yellow; */
}

#root {
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* a {
  text-decoration: none;
} */

.flex {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* .navbar {
  width: 400px;
  display: flex;
  justify-content: space-around;
} */

.tour {
  position: relative;
  border-radius: 10px;
  padding-top: 10px;
  margin: 30px;
  width: 300px;
  height: 300px;
  background: no-repeat center;
  background-color: rgb(255, 255, 255, 0.5);
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  transition: 0.5s;
}
.tour:hover {
  width: 320px;
  height: 320px;
}

.tour:hover .link {
  opacity: 1;
  transition: 1s;
}

.tour:hover .price {
  transition: 1s;
  left: 240px;
  height: 35px;
}

.tour:hover .digrees {
  transition: 1s;
  border: 5px rgba(248, 148, 6, 1) solid;
}


.price {
  min-width: fit-content;
  height: 35px;
  position: absolute;
  left: 220px;
  background-color: orange;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  padding: 5px 10px;
  transition: 1s;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.digrees {
  margin: 5px;
  border: 5px rgb(0, 0, 0, 0.5) solid;
  border-radius: 50%;
  min-width: 80px;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.info {
  position: absolute;
  padding: 10px;
  bottom: 10px;
  left: 0px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  font-size: 20px;
  justify-content: space-between;
  width: 100%;
}

.link {
  left: 0px;
  width: 100%;
  position: absolute;
  top: 310px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s; /*Скорость перехода состояния элемента*/
}

.link :hover {
  display: flex;
}

#my_container {
  margin: 0px;
  padding: 0px;
}

.stars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  position: relative;
  text-shadow: 0 1px 0 #a2a2a2;
} 
.star-ratings-css::before { 
  content: '★★★★★';
  opacity: .3;
}

[title="0"]::after {
  width: 0%;
}
[title="1"]::after {
  width: 20%;
}
[title="2"]::after {
  width: 45%;
}
[title="3"]::after {
  width: 65%;
}
[title="4"]::after {
  width: 87.5%;
}

.star-ratings-css::after {
  color: gold;
  content: '★★★★★';
  text-shadow: 0 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top:0;
  width: attr(rating);
  overflow: hidden;
}



@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
